{% extends "base.html" %}
{% block content %}
    {% if record_list %}
        <div class="container">
            <div class="row row-cols-4">
                {% for record in record_list %}
                    <div class="card">
                        <img src="/static/book_img/{{ record.book_id }}.jpg" alt="{{ record.book_name }}" width="250px" height="250px">
                        <p>{{ record.booklist.book_name }}</p>
                        <div>
                            {% for i in range(record.booklist.avg_rating) %}
                                <small>⭐</small>
                            {% endfor %}
                            <p>{{ record.first_date }}</p>
                        </div>
                        <a href="/record/back/{{ record.record_id }}" class="btn btn-primary">반납하기</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}